*{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    position: relative;
    background-image: url('img\homePrincipal.jpg');
    background-position: center center;
    background-size: cover;
    height: 400px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
}

.jumbotron h1, .jumbotron p {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adiciona uma sombra no texto para destacá-lo */
}

.jumbotron h1{
    padding-top: 70px;
}

img.logo {
    max-width: 100%;
    height: auto;
    display: block; /* Isso garante que a imagem não tenha margens extras */
    margin: auto; /* Centraliza a imagem dentro do contêiner */
}

.container-fluid{
    padding: 0 0 0 0;
}

.nav-item{
    font-size: 20px;
    padding-bottom: 0px;
}

.navbar-collapse{
    border-bottom: 0px;
}